:root {
  --zazapurple: #8C3BF5;
  --zazapink: #FE2978;
  --zazaorange: #FD5566;
  --zazablack: #463239;
}

body {
  font-family: Inter, Arial, sans-serif;
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 120%;
}

header {
  display: flex;
  flex-wrap: wrap;
  color: var(--zazapurple);
  font-weight: bold;
  background-color: white;
  align-items: center;
}

#placeholder-logo {
  background-color: black;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--zazaorange);
}

#current-page {
  color: var(--zazapurple);
}

button {
  border: 2px solid rgb(38, 38, 38);
  border-radius: 5px;
  padding: 15px 20px;
  font-weight: bold;
  margin: 10px auto;
  box-shadow: 2px 2px 2px 0 lightgrey;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.2rem;
}

button:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

.primary-btn {
  background-color: white;
  color: var(--zazaorange);
  border: 2px solid var(--zazaorange)
}

.secondary-btn {
  background-color: white;
  color: var(--zazapurple);
  border: 2px solid var(--zazapurple)
}

main {
  color: black;
  padding: 50px 0;
}

h1 {
  font-size: 2.5rem;
  max-width: 800px;
}

h1, h1 ~ p {
  margin: auto;
  padding: 10px;
}

h1 + p {
  max-width: 400px;
  font-weight: 500;
}

.iframe-wrapper {
  position: relative;
  max-width: 90%;
  padding-bottom: 56.25%;
  margin: 20px auto;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.body-text {
  text-align: left;
  margin: auto;
  width: 500px;
}

footer {
  padding: 20px;
  background-color: var(--zazablack);
  color: white;
}

footer > p:last-of-type {
  color: lightgrey;
}

footer a {
  text-decoration: none;
  color: rgb(48, 148, 255);
  margin: auto;
  align-self: center;
}

#mail-icon {
  vertical-align: -6.5px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48;
}

@media (max-width: 650px) {
  nav {
    display: block;
  }

  header {
    height: fit-content;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 20px 10px;
  }

  #placeholder-logo {
    margin: auto;
  }

  body {
    width: 100%;
  }

  .list-item-div {
    padding: none;
  }
}

.flex-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  padding: 40px;
  list-style: none;
  font-weight: 500;
  gap: 10px;
}

.list-item-div {
  min-height: 200px;
  max-width: 300px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px;
  border: 3px solid var(--zazapink);
  max-height: 400px;
  flex: 1 1 200px;
}

.card {
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.2);
}

section {
  padding: 40px 40px;
  border-radius: 60px;
  margin: 10px auto 30px auto;
  opacity: 97%;
  background-color: white;
  max-width: 900px;
  border: 2px solid var(--zazaorange)
}

#why-now-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#why-now-section  div {
  max-width: 400px;
  align-self: center;
}

#why-now-section iframe {
  height: 550px;
}

/*section:nth-of-type(2n){
  background: linear-gradient(
    var(--zazaorange),
    var(--zazapurple)
  );
}

section:nth-of-type(2n - 1){
  background: linear-gradient(
    var(--zazapurple),
    var(--zazaorange)
  );
}*/

input[type="email"]{
  padding: 15px;
  display: block;
  margin: 10px auto;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

p {
  max-width: 900px;
  margin: auto;
}

#parallax-bg {
  background-image: url("./images/322695551386.jpg");
  position: fixed;
  top: -600px;
  left: 0;
  width: 100%;
  height: 300vh;
  border: 1px solid red;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.primary-color {
  color: var(--zazapurple)
}

.secondary-color {
  color: var(--zazaorange)
}

#features-table {
  border: 2px solid var(--zazaorange);
  margin: auto;
  border-radius: 15px;
}

#features-table td {
  border: 2px solid var(--zazaorange);
  padding: 10px;
  border-radius: 7px;
}
  
#features-table th {
  padding: 10px;
}
.faq-item {
  border: 2px solid var(--zazaorange);
  border-radius: 15px;
  padding: 20px;
  max-width: 800px;
  margin: 3px auto 3px auto;
  text-align: left;
}
.faq-question {
  cursor: pointer;
  padding: 1em;
  font-weight: bold;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ .faq-answer {
  max-height: 1500px; /* adjust as needed */
  padding: 1em;
}

.faq-answer, #founder-section{
  text-align: left;
}